.header {
    grid-area: h;
    background-color: rgba(96, 191, 162 ,0.6);

}

.header img {

   height: 60px;
    border-radius: 120px;

}

.header img:hover{
    border:1px  #7c8391
}
